*.class
*.jar
.cpcache/
.lein-deps-sum
.lein-failures
.lein-plugins/
.lein-repl-history
.nrepl-port
/.clj-kondo/.cache/
/checkouts/
/classes/
/lib/
/out/
/target/
node_modules
package-lock.json
pom.xml
pom.xml.asc
