{:aliases
 {:test {:extra-deps
         #:lambdaisland{kaocha #:mvn{:version "0.0-565"}
                        kaocha-cljs #:mvn{:version "0.0-68"}}
         :extra-paths ["test"]
         :main-opts ["-m" "kaocha.runner"]}}
 :deps {aysylu/loom #:mvn{:version "1.0.2"}
        org.clojure/clojure #:mvn{:version "1.10.1"}
        org.clojure/spec.alpha #:mvn{:version "0.2.176"}
        weavejester/dependency #:mvn{:version "0.2.1"}
        org.clojure/test.check #:mvn{:version "0.10.0"}}
 :paths ["src"]}
