{:paths ["src"]
 :deps {instaparse             {:mvn/version "1.4.10"}
        org.clojure/clojure    {:mvn/version "1.10.1"}
        org.clojure/spec.alpha {:mvn/version "0.2.187"}
        org.clojure/test.check {:mvn/version "1.0.0"}}
 :aliases {:test {:extra-deps {lambdaisland/kaocha      {:mvn/version "1.0-612"}
                               lambdaisland/kaocha-cljs {:mvn/version "0.0-71"}}
                  :extra-paths ["test"]
                  :main-opts ["-m" "kaocha.runner"]}}}
