{:aliases
 {:nrepl {:extra-deps {cider/cider-nrepl #:mvn{:version "0.21.1"}
                       nrepl #:mvn{:version "0.6.0"}}
          :extra-paths ["dev"]
          :main-opts ["--main" "nrepl.cmdline" "--interactive"
                      "--middleware"
                      "[cider.nrepl/cider-middleware]"]}
  :test {:extra-deps
         #:lambdaisland{kaocha #:mvn{:version "0.0-418"}
                        kaocha-cljs #:mvn{:version "0.0-32"}}
         :extra-paths ["test"]
         :main-opts ["-m" "kaocha.runner"]}}
 :deps {org.clojure/clojure #:mvn{:version "1.10.0"}
        org.clojure/spec.alpha #:mvn{:version "0.2.176"}
        org.clojure/test.check #:mvn{:version "0.10.0"}}
 :paths ["src"]}
